@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --primary: #F0F5F9;
  --tech-icon-bg: #ebecec;
  --secondary: #353535;
  --secondaryLight: #4e4e4e;
  --sunDisplay: 'block';
  --moonDisplay: 'none';
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary);

  font-family: 'Inter', sans-serif;
  transition: background-color 0.2s;
}

main {
  width: 100%;
  margin: 70px auto 0 auto;
  display: flex;
  justify-content: center;
}


.content {
  color: var(--secondary);
  max-width: 90%;
  width: 720px;
  transition: color 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  font-weight: normal;
}

hr {
  width: 100%;
  opacity: 0.6;
  margin: 0;
}

.header {
  display: flex;
  align-items: flex-start;
}

.description ul {
  display: flex;
  margin: 0;
  flex-direction: column;
  gap: 18px;
  padding: 0;
}

.description li {
  text-align: justify;
  overflow-wrap: break-word;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-div {
  display: flex;
  align-items: center;
}

.checkbox-div input {
  cursor: pointer;
  display: none;
  accent-color: var(--secondaryLight);
}

.checkbox-div .checkbox-label {
  cursor: pointer;
}

.checkbox-div .checkbox-label .sun {
  display: var(--sunDisplay);
}

.checkbox-div .checkbox-label .moon {
  display: var(--moonDisplay);
}

.profile-info {
  width: 100%;
}

.profile-info .profile-image {
  width: 80px;
  height: 80px;
  background: url(../images/profile-pic.png);
  margin-bottom: 10px;
  background-size: cover;
  border-radius: 50%;
}

.content .name {
  font-weight: bold;
  margin: 0;
}

.content .job {
  font-weight: normal;
  margin-top: 4px;
  margin-bottom: 16px;
  color: var(--secondaryLight);
  transition: color 0.2s;
}

.content .job {
  font-weight: normal;
  margin: 5px 0 0 0;
  color: var(--secondaryLight);
  transition: color 0.2s;
}

.links-list {
  display: flex;
  max-width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px
}

.links-list a {
  text-decoration: none;
}

a {
  color: var(--secondaryLight);
}

.links-list .link {
  color: #FBFBFB;
  cursor: pointer;
  border: none;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 12px;

  transition: background-color 0.2s;
}

.link i,
.link span {
  font-size: 14px;
  margin-right: 8px;
}

.linkedin {
  background-color: #0076B2;
}

.linkedin:hover {
  background-color: #046799;
}

.cv {
  background-color: #088486;
}

.cv:hover {
  background-color: rgb(7, 117, 119);
}

.github {
  background-color: #494949;
}

.github:hover {
  background-color: #3f3f3f;
}

.youtube {
  background-color: #e63946;
}

.youtube:hover {
  background-color: #c7313d;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.footer a {
  font-size: 14px;
}

@media(max-width:400px) {
  .links-list .link {
    width: 130px;
    font-size: 14px;
  }

  .links-list {
    justify-content: space-evenly;
  }
}

@media(max-width:370px) {
  .header {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .header .checkbox-div {
    margin-bottom: 10px;
    align-self: end;
  }
}

@media(max-width: 230px) {
  .content .email {
    font-size: 12px;
  }
}
